<a href="https://colab.research.google.com/github/chihina/code-tips-python/blob/master/2021_01_21.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# What is about Namedtuple ?

References  
  
[1] Writing Clean Python With Namedtuples (https://dbader.org/blog/writing-clean-python-with-namedtuples)  

[2] typing — Support for type hints  (https://docs.python.org/3/library/typing.html)

In this notebook, I checked structure about Namedtuple in python.

# Plain tuple in python
It has two problems.

*   Cannot give names to individual properties stored in a tuple. 
*   It’s hard to ensure that two tuples have the same number of fields.

In [24]:
tup = (12, 100)
print(tup)
print(tup[0])
print(tup[1])

# tuple is immutable object so that we cannot change contents.  
# tup[2] = 23

(12, 100)
12
100

# Namedtuple in python part1
We can access tuple value by using name or index.  
Ofcause it is also immutable like plain tuple.

In [26]:
from collections import namedtuple
TOYOTA = namedtuple("TOYOTA", ["TTI", "TTIC"])

my_toyota = TOYOTA(12, 100)
print(my_toyota.TTI)
print(my_toyota.TTIC)

print(my_toyota[0])
print(my_toyota[1])

# Ofcause it is also immutable like plain tuple
# my_toyota.TTI = 13

12
100
12
100

# Namedtuple in python part2
We can define class which is inheritance of NamedTuple.  
In this method, we can type annotation.

In [20]:
from typing import NamedTuple

class TOYOTA(NamedTuple):
    TTI: int
    TTIC: int

my_toyota = TOYOTA(12, 100)
print(my_toyota.TTI)
print(my_toyota.TTIC)

12
100